<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hmtx-todo</title>
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    body {
      background-color: #403e3e;
      font-family: "Lucida Console", "Courier New", monospace;
    }
  </style>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <div class="max-w-screen-xl mx-auto p-4">
    {{ embed }}
  </div>
</body>
</html>